.active {
	color: grey;
}

/* :root {
	scroll-behavior: smooth;
} */

body {
	padding-left: 10%;
	padding-right: 10%;
}

header {
	display: flex;
	justify-content: space-between;
}

nav {
	justify-content: flex-end;
}

a code {
	text-decoration: underline;
}

th {
	font-weight: bold;
}

