{% extends "list.j2" %}

{% block loop_href %} {{ url_for('single_page', page_id = row.page_id, html = True) }} {% endblock %}
{% block loop_payload %} {{ row.payload }} {% endblock %}
{% block loop_footer %} {{ row.attempt_count }} total attempt{% if row.attempt_count != 1 %}s{% endif %} {% endblock %}
