{% extends "skeleton.j2" %}

{% block title %} Home {% endblock %}

{% block content %}

<section id="jobs">
	<h2>Dashboard</h2>
	<p>Sorry, live update is currently not implemented. Refresh the page for current statistics.</p>
	<p>There are currently {{ jobs|length }} active jobs.</p>
	{% for job_id, initial_page, note in jobs %}
		<article>
			<header style="display: flex">
				<p style="margin-bottom: 0">{{ initial_page }}</p>
				<p style="margin-bottom: 0">
					{% if note %} Explanation: {{ note }} {% endif %}
				</p>
			</header>
			<p>Recent activity:</p>
				<iframe src="{{ url_for('job_recent', id = job_id) }}" style="width: 100%" height="400">
					I don't actually know if there's still any point filling this in.
				</iframe>
			<ul>
			</ul>
			<footer>
				<p style="text-align: right; margin-bottom: 0" class="low-importance">
					<a href="{{ url_for('single_job', job_id = job_id) }}">{{ job_id }}</a>
				</p>
			</footer>
		</article>
	{% endfor %}
</section>

{% include "components/item-search.j2" %}

{% endblock %}
