{% extends "skeleton.j2" %}

{% block title %} Item {{ item.id }} ({{ item.item }}) {% endblock %}

{% block content %}

<h2>Item {{ item.id }}</h2>

<section aria-keyshortcuts="d" id="item" tabindex="-1">
	<h3>Item <span class="shortcut">d</span>ata</h3>
	<ul>
		<li><b>Item URL: </b><a href="{{ item.item }}">{{ item.item }}</a></li>
		<li><b>Item status: </b>
			{{ item.status }}
			{% if item.stash %}
				{% if item.status == "stashed" %} (in
				{% else %} (from
				{% endif %} stash {{ item.stash }})
			{% endif %}
		</li>
		<li><b>Queued by: </b>{{ item.queued_by }}</li>
		<li>
			<b>User agent: </b>
			{% if item.metadata.ua == "default" %} <span data-tooltip="Pretends to be Chrome on Windows, and adds information about mnbot.">Default</span>
			{% elif item.metadata.ua == "stealth" %} <span data-tooltip="Pretends to be Chrome on Windows, without mnbot.">Stealth</span>
			{% elif item.metadata.ua == "minimal" %} <span data-tooltip="Includes only information about mnbot.">Minimal</span>
			{% elif item.metadata.ua == "googlebot" %} <span data-tooltip="Pretends to be Googlebot Desktop.">Googlebot Desktop</span>
			{% elif item.metadata.ua.startswith("$") %} <code>{{ item.metadata.ua[1:] }}</code>
			{% endif %}
		</li>
		{% if item.metadata['custom_js'] %}
			<li>
				<details style="display: block; margin:0">
					<summary><b>Custom JavaScript: </b>Click to show</summary>
					<pre>{{ item.metadata['custom_js'] }}</pre>
				</details>
			</li>
		{% else %}
			<li><b>Custom JavaScript: </b>None</li>
		{% endif %}
		<li><b>Pipeline type: </b>{{ item.pipeline_type }}</li>
		<li><b data-tooltip="Lower priorities are run first.">Priority: </b>{{ item.priority }} (effective {{ item.priority + item.attempt_count() }})</li>
		<li><b>Queued at: </b>{{ item.queued_at.replace(microsecond=0) }}</li>
		{% if item.claimed_at %}
			<li><b>Last claimed at: </b>{{ item.claimed_at.replace(microsecond=0) }}</li>
		{% endif %}
		{% if item.finished_at %}
			<li><b>Finished at: </b>{{ item.finished_at.replace(microsecond=0) }}</li>
		{% endif %}
		<li><b>Tries: </b>{{ item.attempt_count() }}</li>
		{% if error_reasons %}
			<li>
				<b>Error reasons:</b>
				<ul>
					{% for reason in item.error_reasons %}
					{% endfor %}
				</ul>
			</li>
		{% endif %}
		{% if item.expires %}
			<li><b>Expires: </b>{{ item.expires.replace(microsecond=0) }}</li>
		{% endif %}
		{% if item.explanation %}
			<li><b>Explanation: </b>{{ item.explanation }}</li>
		{% endif %}
		{% if item.claimed_by %}
			<li><b>Last claimed by pipeline: </b>{{ item.claimed_by }}</li>
		{% elif item.run_on %}
			<li><b>Must run on pipeline: </b>{{ item.run_on }}</li>
		{% endif %}
	</ul>
</section>

<section id="results" aria-keyshortcuts="r" tabindex="-1">
	<h3><span class="shortcut">R</span>esults</h3>
	{% if results %}
		{% for try, try_results in results.items() %}
			<p>
				<b>
					<span {% if item.attempts[try].error %} class="error" {% endif %}>
						Attempt {{ try + 1 }}
					</span>
					(on pipeline {{ item.attempts[try].pipeline }} {{ item.attempts[try].pipeline_version or "" }})
				</b>
			</p>
			<ul>
				{% for result in try_results %}
					<li>
						<details>
							<summary><code>{{ result.type }}</code> (click to show)</summary>
							<div class="overflow-auto">
								{% if result.type == "outlinks" %}
									<ul>
										{% for outlink in result.data %}
											<li>
												<a href="{{ outlink }}">
													<code>{{ outlink }}</code>
												</a>
											</li>
										{% endfor %}
									</ul>
								{% elif result.type in ("screenshot", "cjs_screenshot") %}
									<a href="{{ url_for('screenshot', id = result.id, key = 'full') }}">
										<img class="thumb" src="{{ url_for('screenshot', id = result.id, key = 'thumb') }}" alt="Page screenshot" />
										<br />
										<small>Click to enlarge image</small>
									</a>
								{% elif result.type == "requisites" %}
									<table class="striped">
										<tr>
											<th>Status</th>
											<th>Type</th>
											<th>Category</th>
											<th>Length</th>
											<th>Method</th>
											<th>URL</th>
										</tr>
										{% for requisite in result.data %}
											{% for pair in requisite['chain'] %}
												<tr>
													{% if pair.response._type == "Response" %}
														<td>{{ pair.response.status[0] }} {{ pair.response.status[1] }}</td>
														<td>{{ pair.response.mimetype or "-" }}</td>
													{% elif pair.response._type == "Error" %}
														<td>Error</td>
														<td>{{ pair.response.text }}</td>
													{% elif pair.response is none %}
														<td>None</td>
														<td>No response</td>
													{% else %}
														<td>Unknown - this is a bug</td>
														<td></td>
													{% endif %}
													{% if loop.first %}
														<td>{{ pair.request.category }}</td>
													{% else %}
														<td>Redirect &uarr;</td>
													{% endif %}
													{% if pair.response.length is none %}
														<td>?</td>
													{% elif pair.response.length is not defined %}
														<td>n/a</td>
													{% else %}
														<td>{{ pair.response.length }}</td>
													{% endif %}
													<td>{{ pair.request.method }}</td>
													<td>
														<a href="{{ pair.request.url }}">
															{{ pair.request.url }}
														</a>
													</td>
												</tr>
											{% endfor %}
										{% endfor %}
									</table>
								{% else %}
									<code>
										{{ result.data }}
									</code>
								{% endif %}
							</div>
						</details>
					</li>
				{% else %}
					{% if not item.attempts[try].error %}
						<p>No results exist yet for this attempt. It may still be running.</p>
					{% endif %}
				{% endfor %}
				{% if item.attempts[try].error %}
					<li>
						<details>
							<summary><b>Error: </b><code>{{ item.attempts[try].error.split('\n')[0].strip() }}</code> {% if '\n' in reason %}(click for full message) {% endif %}</summary>
							<pre>{{ item.attempts[try].error }}</pre>
						</details>
					</li>
				{% endif %}
				{% if item.attempts[try].poke_reason %}
					<li>
						<details>
							<summary>Admin poke reason: <code>{{ item.attempts[try].poke_reason.split('\n')[0].strip() }}</code> {% if '\n' in reason %}(click for full message) {% endif %}</summary>
							<pre>{{ item.attempts[try].poke_reason }}</pre>
						</details>
					</li>
				{% endif %}
			</ul>
		{% endfor %}
	{% else %}
		<p>This item has not been tried yet.</p>
	{% endif %}
</section>

<section id="upload" aria-keyshortcuts="u" tabindex="-1">
	<h3><span class="shortcut">U</span>ploads</h3>
	<!-- <p>Item {{ item.id }} has not yet been uploaded to IA. Uploading may take up to a day. If it is still not uploaded after that, please contact an admin.</p> -->
	<p>Upload indexing is currently not implemented.</p>
</section>

<script>
SHORTCUTS.d = "item";
SHORTCUTS.r = "results";
SHORTCUTS.u = "upload";
</script>

{% include "components/item-search.j2" %}

{% endblock %}
