{% extends "skeleton.j2" %}

{% block title %} Active pipelines {% endblock %}

{% block content %}

<h2>Pipelines</h2>

<section id="item-list">
	<div class="overflow-auto">
		<table>
			<tr>
				<th>Pipeline</th>
				<th>Last heartbeat</th>
				<th>Disk space</th>
				<th>Matchonly</th>
			</tr>
			{% for pipeline, last, disk, matchonly in pipelines %}
				<tr>
					{% if last %}
						<td>{{ pipeline }}</td>
						<td {% if not last.healthy %} class="error" {% endif %}>
							{% if last.days > 0 %}
								<span class="error">over {{ last.days }} day{% if last.days != 1 %}s{% endif %} ago</span>
							{% elif last.seconds < 60 %}
								less than a minute ago
							{% elif last.seconds < 3600 %}
								{% set i = (last.seconds / 60)|round|int %}
								about {{ i }} minute{% if i != 1 %}s{% endif %} ago
							{% elif last.seconds < 86400 %}
								{% set i = (last.seconds / 60 / 60)|round|int %}
								about {{ i }} hour{% if i != 1 %}s{% endif %} ago
							{% else %}
								{% set i = (last.seconds / 60 / 60 / 24)|round|int %}
								about {{ i }} day{% if i != 1 %}s{% endif %} ago
							{% endif %}
						</td>
						<td {% if not disk[2] %} class="error" {% endif %}>{{ disk[0] }} GiB free of {{ disk[1] }} GiB</td>
						<td>{{ matchonly }}</td>
					{% else %}
						<td>{{ pipeline }}</td>
						<td>None</td>
						<td>Unknown</td>
						<td>{{ matchonly }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
	<p>(Live update is not implemented. Refresh the page for current statistics.)</p>
</section>

{% endblock %}
