.active, .low-importance, nav .current {
	color: grey;
}

body {
	padding-left: 10%;
	padding-right: 10%;
}

header {
	display: flex;
	justify-content: space-between;
}

nav {
	justify-content: flex-end;
}

hgroup a {
	text-decoration: none;
}

/* Prevent there from being too much space above the breadcrumb */
main nav[aria-label="breadcrumb"] li {
	padding-top: 0 !important;
}

a code {
	text-decoration: underline;
}

th {
	font-weight: bold;
}

.error {
	color: crimson;
}

section {
	scroll-margin: 2px;
}

section:focus-visible > :first-child {
	outline: 1px solid white;
}

.shortcut {
	text-decoration: underline;
}

.thumb {
	max-width: 40%;
}

/* These are basically Pico's accordion styles but adapted so they are usable wherever. */
.link-box {
	display: block;
	margin-bottom: var(--pico-spacing);
	width: 100%;
	text-decoration: none;
}

.link-box-inner {
	width: 100%;
	text-align: left;
}

.link-box-inner::after {
	display: block;
	width: 1rem;
	height: calc(1rem * var(--pico-line-height,1.5));
	float: right;
	transform: rotate(-90deg);
	background-image: var(--pico-icon-chevron);
	background-position: right center;
	background-size: 1rem auto;
	background-repeat: no-repeat;
	content: "";
	transition: transform var(--pico-transition);
}
