# h2ibot URLs
#H2IBOT_GET_URL=
#H2IBOT_POST_URL=

# Tracker base URL; used in some IRC messages
#TRACKER_BASE_URL=

# Documentation URL; used in some IRC messages
#DOCUMENTATION_URL=

# Info URL; used in the user agent unless --stealth-ua is used
#INFO_URL=

# URI to the postgres database. Change the capitalised sections.
#MNBOT_DATABASE_URI=postgresql+asyncpg://USER:PASSWORD@HOSTNAME/DATABASENAME

# Host to listen on; useful if putting mnbot behind a reverse proxy
#LISTEN_HOST=0.0.0.0
