<!-- Search box to instantly look up items. Binds the shortcut 'i'. -->
<script>
function validateForm() {
	const e = document.getElementById("search-item");
	e.value = e.value.trim();
	const err = document.getElementById("search-form").querySelector(".error");
	const isValid = /^[0-9A-F]{8}-[0-9A-F]{4}-[4][0-9A-F]{3}-[89AB][0-9A-F]{3}-[0-9A-F]{12}$/i.test(e.value);
	if (isValid) {
		e.ariaInvalid = false;
		err.hidden = true;
		return true;
	} else {
		e.ariaInvalid = true;
		err.hidden = false;
		return false;
	}
}

SHORTCUTS.i = (event) => document.getElementById("search-item").focus();

function makeBusy(is) {
	document.getElementById("search-submit").ariaBusy = is;
}

window.addEventListener("pageshow", (e) => {
	makeBusy(false);
});

function submitItemSearch(event) {
	if (!validateForm()) {
		return false;
	}
	makeBusy(true);
	return true;
}
</script>

<article id="search">
	<h3><span class="shortcut">I</span>tem search</h3>
	<form action="/item/translate" method="GET" id="search-form" onsubmit="return submitItemSearch(event)">
		<fieldset role="group">
			<input
				name="item"
				id="search-item"
				aria-describedby="search-item-helper"
				placeholder="Item identifier"
				aria-label="Item identifier"
				oninput="validateForm()"
				aria-keyshortcuts="d"
			/>
			<button type="submit" id="search-submit">Search</button>
		</fieldset>
		<small id="search-item-helper">Searching by URL or domain is currently unimplemented.</small>
		<small class="error" hidden id="search-item-usage">You must provide a valid job UUID.</small>
	</form>
</article>
