{% extends "skeleton.j2" %}

{% block title %} Error {% endblock %}

{% block content %}

<h2>{{ code }} {{ reason }}</h2>
<p>{{ description }}</p>
<p>If you believe this error to be in error, please let us know!</p>

{% if show_item_search %}
{% include "components/item-search.j2" %}
{% endif %}

{% endblock %}
