<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
		<link rel="stylesheet" href="/static/styles.css" />
		<title> {% block title %} why do they call it oven when you of in the cold food of out hot eat the food {% endblock %} | mnbot</title>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>mnbot</h1>
				<h3>Eating javascripts since 2025</h3>
			</hgroup>
			<nav>
				<ul>
					{% for path, name in nav %}
						<li>
							{% if request.path == path %}
								<span style="color: grey;"> {{ name }} </span>
							{% else %}
								<a href="{{ path }}"> {{ name }}</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
				<h2>Someone fucked up the template...</h2>
				<p>Go yell at whatever dev did this.</p>
				<p>(If you are said dev, make sure you define the title and content blocks.)</p>
			{% endblock %}
		</main>
	</body>
</html>
